<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/newForm.css}" rel="stylesheet" type="text/css">
<script th:inline="javascript">
    function selectCate() {
        window.open('/item/new/selectCate','카테고리 선택','toolbar=no,menubar=no');
    }
</script>
<head>
</head>
<body>
<div class="header">
    <div class="header-item">
        <a th:href="@{/user}">
            <img th:src="@{/images/back.png}" class="back_img">
        </a>
    </div>
    <div class="header-item">
        <h2>중고거래 글쓰기</h2>
    </div>
    <div class="header-item">
        <a onclick="">
            <h2 class="submitBtn">완료</h2>
        </a>
    </div>
</div>
<form class="container" name="itemAddForm" th:action method="post" enctype="multipart/form-data">
    <div class="item">
        <input type="file" name="imageFiles" multiple="multiple">
    </div>
    <div class="item">
       <input type="text" name="name" placeholder="제목">
    </div>
    <div class="item">
        <button onclick="selectCate()">
            <div th:text="${itemForm.category}">카테고리</div>
        </button>
        <input type="hidden" id="hidden_cate" name="category" value="">
    </div>
    <div class="item">
        <input type="text" name="price" placeholder="가격(원)">
    </div>
    <div class="item">
        <input type="text" name="main" placeholder="게시글 내용을 작성해주세요.">
    </div>
</form>
</body>
</html>