<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/newForm.css}" rel="stylesheet" type="text/css">
<script th:inline="javascript">
    function showCate() {
        console.log("aaa");
        if (document.getElementById("categories").style.display == "none")
            document.getElementById("categories").style.display = "block";
        else
            document.getElementById("categories").style.display = "none";
    }
    function selectCate(select) {
        console.log(select)
        document.getElementsByClassName("cateText")[0].innerText = select;
        document.getElementById("hiddenCate").value = select;
        document.getElementById("categories").style.display = "none";
    }
    function submitForm() {
        document.itemAddForm.submit();
    }
</script>
<head>
</head>
<body>
<div class="header">
    <div class="header-item">
        <a th:href="${oldUrl}">
            <img th:src="@{/images/back.png}" class="back_img">
        </a>
    </div>
    <div class="header-item">
        <h2>중고거래 글쓰기</h2>
    </div>
    <div class="header-item">
        <a onclick="submitForm()">
            <h2 class="submitBtn">완료</h2>
        </a>
    </div>
</div>
<form class="container" name="itemAddForm" th:action method="post" enctype="multipart/form-data">
    <input class="item" type="file" name="imageFiles" accept="image/png, image/gif, image/jpeg" multiple="multiple" th:value="${itemForm.imageFiles}">
    <div class="item">
        <div class="field-error" th:errors="${itemForm.name}">
            제목 오류
        </div>
        <input class="name" type="text" name="name" placeholder="제목"
               th:errorclass="field-error" th:field="${itemForm.name}">
    </div>
    <div class="item">
        <div class="field-error" th:errors="${itemForm.category}">
            카테고리 오류
        </div>
        <button type="button" onclick="showCate()">
            <div th:if="${#strings.isEmpty(itemForm.category)}" class="cateText" text="카테고리">카테고리</div>
            <div th:unless="${#strings.isEmpty(itemForm.category)}"
                 th:text="${itemForm.category}" class="cateText">카테고리</div>
        </button>
        <input type="hidden" class="hidden" id="hiddenCate" name="category"
               th:errorclass="field-error" th:field="${itemForm.category}" th:value="${itemForm.category}">
        <div id="categories" style="display: none">
            <div th:each="category : ${selectCate}" class="categories">
                <button type="button" th:text="${category.name}" th:value="${category.name}" onclick="selectCate(this.value)">
                </button>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field-error" th:errors="${itemForm.price}">
            가격 오류
        </div>
        <input class="price" type="text" name="price" placeholder="가격(원)"
               th:errorclass="field-error" th:field="${itemForm.price}">
    </div>
    <div class="item">
        <div class="field-error" th:errors="${itemForm.main}">
            내용 오류
        </div>
        <textarea class="main" type="text" name="main" placeholder="게시글 내용을 작성해주세요."
                  th:errorclass="field-error" th:field="${itemForm.main}"></textarea>
    </div>
</form>
</body>
</html>