h1 {
    text-align: center;
    height: 50px;
}
div {
    font-size: 20px;
    height: 100px;
}

input {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.item:nth-child(6) {
    text-align: center;
}

button {
    font-size: 20px;
    height: 80px;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}