.container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "container"
            "."
            "footer";
    align-items: center;
    justify-content: center;
    background-color: bisque;
    align-content: space-between;
    row-gap: 50px;
}

.inputPlace {
    font-size: 20px;
}

.submitButton {
    width: 50%;
}

@media (max-width: 767px) {
    .search {
        border-bottom: blue 1px solid;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        font-size: 20px
    }

    .search-img {
        width: 40%;
        height: auto;
    }
}