.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr;

}

.footer-item:nth-child(1) {
    padding-left: 50px;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.footer-item:nth-child(2) {
    align-items: center;
    justify-content: center;
    background-color: orange;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer-item:nth-child(3) {
    align-items: center;
    justify-content: center;
    background-color: orange;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.home-home {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.home-container:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 30px;
    align-items: center;
    justify-content: center;
}

.header-item:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

.header-item:nth-child(2) {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}

.home-container {
    display: grid;
    grid-area: home;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.home-item:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.home-item:nth-child(2) {
    grid-column: 5 / 10;
    grid-row: 1 / 2;
}

.home-item:nth-child(3) {
    grid-column: 5 / 10;
    grid-row: 2 / 3;
}

.home-item:nth-child(4) {
    grid-column: 5 / 10;
    grid-row: 3 / 4;
}

.home-item:nth-child(5) {
    grid-column: 8 / 9;
    grid-row: 4 / 5;
}

.home-item:nth-child(6) {
    grid-column: 9 / 10;
    grid-row: 4 / 5;
}

.container {
    overflow: scroll;
    height: 300px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "header"
            "container"
            "home"
            "."
            "footer";
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.item:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.item:nth-child(8) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.footer-img {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50px;
    height: auto;
}

.font-right {
    font-size: 30px;
}
.image-right {
    width: 30px;
    height: auto;
}

.search {
    height: 30%;
    border-bottom: blue 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 20px
}

.search-img {
    width: 40px;
    height: 40px;
}

@media (max-width: 767px) {

    .font-right {
        font-size: 20px;
    }
    .image-right {
        width: 20px;
        height: auto;
    }

    .search {
        border-bottom: blue 1px solid;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        font-size: 20px
    }

    .search-img {
        width: 40%;
        height: auto;
    }
}