/* footer 하단 고정 [S] */
#body-wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 300px;
}
footer {
    background-color: bisque;
    height: 100px; /* footer의 높이 */
    position: relative;
    transform: translateY(-100%);
}
/* footer 하단 고정 [E] */
.footer-img {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 50px;
    height: auto;
}

#myKarrotTable {
    position: relative;
    right: 100px;
    margin: auto;
}

.font-right {
    font-size: 30px;
}
.image-right {
    width: 30px;
    height: auto;
}
.search {
    height: 30%;
    border-bottom: blue 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 30px
}
.search-button {
    width: 70px;
    height: 50px;
    cursor: pointer;
}
.search-button .search-img {
    width: 40px;
    height: 40px;
}

@media (max-width: 767px) {
    .font-right {
        font-size: 20px;
    }
    .image-right {
        width: 20px;
        height: auto;
    }
    .search {
        height: 20%;
        border-bottom: blue 1px solid;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        font-size: 20px
    }
    .search-button {
        width: 50px;
        height: 30px;
        cursor: pointer;
    }
    .search-button .search-img {
        width: 20px;
        height: 20px;
    }
}