.slides-A {
    position: relative;
}

.slides-B {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slides-L {
    position: absolute;
    top:200px;
    left: 0;
    bottom: 0.75em;
}

.slides-R {
    position: absolute;
    top:200px;
    right: 0;
    bottom: 0.75em;
}

.status {
    color: skyblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}

.main-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.main-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main-item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.main-item:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.user-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.slides-img {
    width: 50px;
    height: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.header-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header-item:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.back_img {
    width: 50px;
    height: auto;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}

.user-item:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.user-item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    font-size: 30px;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.diff-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}

.diff-header-item:nth-child(1) {
    text-align: center;
}

.diff-header-item:nth-child(2) {
    text-align: center;
    color: dimgray;
}

.diff-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 30px;
}

.diff-thumbnail {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.interest-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 30px;
}