<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/index.css" rel="stylesheet" type="text/css">
<head>
</head>
<body>
<div>
    <div style="text-align:center">
        <img class="main" src="images/karrot.png" alt="No image">
        <h1>당신 근처의 Karrot 마켓</h1>
        <h2>이제 내 동내에서 <br>간편하게 중고거래하자</h2>
        <br>
        <br>
        <br>
        <div>
            <button type="button" th:onclick="|location.href='@{/user/add}'|">
                <h1>시작하기</h1>
            </button>
        </div>
        <br>
        <div>
            <h2>이미 계정이 있으신가요?
                <a th:href="@{/user/login}">로그인</a>
            </h2>
        </div>
    </div>
</div>
</body>