<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/addUser-form.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/addUser-form.js"></script>
<head>
</head>
<body>
<h1>회원가입</h1>
    <form name="add_user" action="/customer/add-user" method="post">
        <div>이메일(ID)
            <br>
            <input type="text" id="email" name="email">
            <br>
            <br>
        </div>
        <div>비밀번호(PW)
            <br>
            <input type="text" id="password" name="password">
            <br>
            <br>
        </div>
        <div>이름
            <br>
            <input type="text" id="username" name="username">
            <br>
            <br>
        </div>
        <div>핸드폰번호
            <br>
            <input type="text" id="phone_number" name="phone_number">
            <br>
            <br>
        </div>
        <div>닉네임
            <br>
            <input type="text" id="nickname" name="nickname">
            <br>
            <br>
        </div>
    </form>
    <div>
        <button onclick="check()">
            <label>가입하기</label>
        </button>
    </div>
</body>